/* containers */
.container {
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 576px) { 
    .container { 
        max-width: 540px; 
    } 
}
@media (min-width: 768px) { 
    .container { 
        max-width: 720px; 
    } 
}
@media (min-width: 992px) { 
    .container { 
        max-width: 960px; 
    } 
}
@media (min-width: 1200px) { 
    .container { 
        max-width: 1140px; 
    } 
}
@media (min-width: 1400px) { 
    .container { 
        max-width: 1320px; 
    } 
}

/* headings */
.main-heading {
    width: fit-content;
    margin: 0 auto 100px auto;
    padding: 1rem 1.2rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-size: clamp(25px, 7vw,2em);
    font-weight: 700;
    color: #121212;
    border: 2px solid black;
    position: relative;
    cursor: default;
    transition: 0s 0s;
}

.main-heading:hover {
    color: white;
    border-color: transparent;
    transition: 0.5s 0.3s;
}

.main-heading::before,
.main-heading::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    aspect-ratio: 1;
    background-color: var(--main-color);
    border-radius: 50%;
    transition: 0.5s;
}

.main-heading::before {
    left: -30px;
}

.main-heading::after {
    right: -30px;
}

@keyframes main-heading-before {
    50% {
        border-radius: 0;
        left: 0;
        height: 20%;
    }
    100% {
        border-radius: 0;
        height: 100%;
        width: 100%;
        left: 0;
    }
}

.main-heading:hover::before {
    animation: main-heading-before 0.8s;
    animation-fill-mode: forwards;
}

@keyframes main-heading-after {
    50% {
        border-radius: 0;
        right: 0;
        height: 20%;
    }
    100% {
        border-radius: 0;
        height: 100%;
        width: 100%;
        right: 0;
    }
}

.main-heading:hover::after {
    animation: main-heading-after 0.8s;
    animation-fill-mode: forwards;
}

@media (max-width: 425px) {
    .main-heading {
        pointer-events: none;
    }
    .main-heading::before,
    .main-heading::after {
        display: none;
    }
}

/* paddings */
.section-ptb {
    padding-top: 100px;
    padding-bottom: 100px;
}